:root {
  --dark-purple: #4a154b;
  --medium-purple: #F0CEF3;
  --light-purple: #ede6ed;
  
}

* {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SUSE", sans-serif;
  color: var(--dark-purple);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-color: var(--medium-purple);
}

.login {
  background-color: white;
  min-width:350px;
  max-width: 40%;
  padding: 2%;
  border-radius: 25px;
  display: flex;
  gap: 100px;
}

form {
  width: 100%;
}

input {
  width: 95%;
  padding: 1%;
  margin-top: 2%;
}

label {
  font-weight: bold;
}

button {
  border: none;
  padding: none;
  padding: 2.5%;
  border-radius: 25px;
  font-weight: bold;
  background-color: var(--dark-purple);
  color: var(--medium-purple);
}

.two-buttons {
  padding-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
}

.secondary-button {
  background-color: var(--medium-purple);
  color: var(--dark-purple);
}

.icon {
  aspect-ratio: 1;
  padding-right: 2px;
}

/* Dashboard items */
.dashboard {
  display: flex;
  flex-direction: row;
  gap:2.5%;
}

.sidebar {
  height: 100vh;
  width: 30%;
  min-width: 400px;
  background-color: var(--medium-purple);
}

.sidebar > div {
 padding: 5%;
}

.sidebar-input {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
 }

.main-content {
  width: 65%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  height: 98vh; 
}

.messages-container {
  flex: 1; 
  height: 90vh; 
  overflow-y: scroll; 
  padding: 10px;
}

.message {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}

.message-input {
  display: flex;
  align-items: baseline;
  margin-bottom: 3%;
}

.message-input form {
  display: flex;
  flex-direction: row;
  width: 100%; 
}

.message-input input {
  height: 40%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.message-input button {
  align-self: flex-end;
  padding: 1%;
}

.toggle-container {
  display: inline-flex;
  border: 2px solid var(--dark-purple);
  border-radius: 8px;
  overflow: hidden;
}

.toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 0px;
  outline: none;
  cursor: pointer;
  background-color: var(--medium-purple);
  color: var(--dark-purple);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.toggle-button.active {
  background-color: var(--dark-purple);
  color: var(--light-purple);
}

.toggle-button:not(.active):hover {
  background-color: rgba(74, 21, 75, 0.7); 
  color: var(--light-purple);
}

/* Channels */
.channel-creation > button {
  padding: 10px;
  margin: 5px;
}

.channel-list {
  padding: 10px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.channel-list::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.channel-item {
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--dark-purple);
  border-radius: 5px;
  margin-bottom: 5px;
}

