:root {
  --dark-purple: #4a154b;
  --medium-purple: #F0CEF3;
  --light-purple: #ede6ed;
  
}

* {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SUSE", sans-serif;
  color: var(--dark-purple);
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-color: var(--medium-purple);
}

.login {
  background-color: white;
  min-width:350px;
  max-width: 40%;
  padding: 2%;
  border-radius: 25px;
  display: flex;
  gap: 100px;
}

form {
  width: 100%;
}

input {
  width: 95%;
  padding: 1%;
  margin-top: 2%;
}

label {
  font-weight: bold;
}


button {
  border: none;
  padding: 5%;
  border-radius: 25px;
  font-weight: bold;
  background-color: var(--dark-purple);
  color: var(--medium-purple);
}

.two-buttons {
  padding-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1%;
}

.secondary-button {
  background-color: var(--medium-purple);
  color: var(--dark-purple);
}

.icon {
  aspect-ratio: 1;
  padding-right: 2px;
}

.received-messages {
  display: flex;
  flex-direction: column;
}

.message {
  display: flex;
  align-items: center;
  max-width: 80%; /* Adjust as needed */
  margin: 5px 0;
}

.message.received {
  justify-content: flex-start;
}

.message.sent {
  justify-content: flex-end;
}

.message-content {
  padding: 10px;
  border-radius: 10px;
}

.message.received .message-content {
  background-color: #e0f7ff; /* Light blue for received messages */
  border-top-left-radius: 0;
}

.message.sent .message-content {
  background-color: #e0ffe0; /* Light green for sent messages */
  border-top-right-radius: 0;
}
